@model UserListDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Users Index";
}



@if (Model.ResultStatus == ResultStatus.Success)
{
    <div id="modalPlaceHolder" aria-hidden="true"></div>
    <div class="card mb-4 mt-2">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
           Users <button class="btn btn-success float-right" id="btnEkle">Add Admin User</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Department</th>
                            <th>Picture</th>
                            <th>Is Manager</th>
                            <th>Is Active</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Department</th>
                            <th>Picture</th>
                            <th>Is Manager</th>
                            <th>Is Active</th>
                            <th>Edit</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                        <tr name="@user.Id">
                            <td>@user.Id</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>@user.Department.Name</td>
                            <td><center><img src="~/img/@user.Picture" style="max-height:50px;max-width:50px" /></center> </td>
                            <td>    @user.IsManager</td>
                            <td>@user.IsActive</td>
                            <td>
                                <button class="btn btn-primary btn-sm btn-update" data-id="@user.Id">Edit</button>
                                <button class="btn btn-danger btn-sm btn-delete" data-id="@user.Id">Delete</button>
                            </td>
                        </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>

}
@if (Model.ResultStatus == ResultStatus.Error)
{
    <div class="alert alert-danger mt-2">
        @Model.Message <br />
        To back the Index page ,Plese click <a class="alert-link" asp-controller="Home" asp-action="Index">Back Index</a>

    </div>
}







@section Scripts {

    @*Mustafa ulaş düzenlenme 23.11.2021*@



   <script src="~/js/userIndex.js"></script>

            



}
